<div class="card-header d-flex justify-content-between">
        <div class="d-flex align-items-end">
            <h4>
                Author: <span class="text-primary"><%= @comment.user.username %></span> 
            </h4>
        </div>
        <div class="d-flex flex-column">
            <h6 class="my-1 text-secondary text-right">
                <%= @comment.created_at %>
            </h6>
            <% if @comment.created_at != @comment.updated_at %>
                <p class="text-secondary text-right m-0">
                    <small>
                        Updated at: <%= @comment.updated_at %>
                    </small>
                </p>      
            <% end %>
        </div>
    </div>
    <div class="card-body">
        <p><%= @comment.text %></p>
    </div>