<div class="card-header d-flex justify-content-end alert-secondary">
    <%= link_to "Edit", edit_post_url(@post.id), class: "btn btn-warning my-0 mx-1"%>
    <%= link_to "Delete", @post, method: "DELETE", class: "btn btn-danger my-0 mx-1"%>
</div>
